<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= content_for :page_title%> -Stack Links</title>
		<%= stylesheet_link_tag		"application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag   "application", "data-turbolinks-track" => true %>

		<%= csrf_meta_tags %>
	</head>
	<body>

		<header>
      <h1>
        <%= link_to image_tag("/assets/stack-logo.png"), root_path %>
      </h1>

      <nav>
        <%= link_to "Top", root_path %>
        <%= link_to "Recent", root_path(sort: "recent") %>
        <%= link_to "Featured", root_path(sort: "featured") %>

        <%= link_to "Submit", new_story_path %>
      </nav>

    </header>

      
    <article>

      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>
    </article>

	</body>
</html>
